<div class="container">
  <div class="row">
    <div class="col-md-12 card">
      <div class="card-body">
        <p>{{text}}</p>
      </div>
    </div>
    <div class="col-md-12 card" style="padding:0;">
      <div class="card-header">
        <div class="row">
            <!-- <div class="col-md-10" *ngIf="timeout">
              <h5>
                Press Start Button TO Start Your Test
              </h5>
            </div> -->
              <div class="col-md-12 text-center" *ngIf="timeout">
                  <button class="btn btn-success" (click)="testfunc('start')" >Start Test</button>
                </div>
          <div class="col-md-12 text-center"  *ngIf="!timeout">
              <button type="button" class="btn btn-primary btn-lg">
                  Timer :  <span class="badge badge-light">{{sec}}</span>
                </button>
                &nbsp;
            <button class="btn btn-success" (click)="submitTest()" *ngIf="!timeout">Submit</button> 
            <!-- <button class="btn btn-danger" (click)="testfunc('stop')" *ngIf="!timeout">Cancel Test</button> -->
          </div>
        </div>
      </div>
      <textarea rows="15" name="text" style="height:100%;" [disabled]="timeout" [(ngModel)]="comparetext">
     </textarea>
    </div>
    <div class="mt-2 col-md-12 alert alert-dismissible alert-danger" *ngIf="result === 'fail'">
      {{error}} <button class="float-right btn btn-sm btn-light" onClick="window.location.reload()">Restart</button>
    </div>
    <div class="mt-2 col-md-12 alert alert-dismissible alert-success" *ngIf="result === 'success'">
      {{error}}
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal" [ngClass]="{'show':showmodal, 'modal-back':showmodal}" [style.display]="showmodal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <!-- <div class="modal-header">
        <h4 class="modal-title">Mo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->

      <!-- Modal body -->
      <div class="modal-body text-center">
        <h4>
          Your ranking in last 24h
        </h4>
        <p class="text-success">
          {{message.ranking}}
        </p>
        <h3>
          You're better than
        </h3>
        <h2 class="text-success">
          {{message.score}}
        </h2>
        <p>
          of all users
          </p>
          <p *ngIf="message.showReg">
            To Register Click Here...
          </p>
          <button *ngIf="message.showReg" [routerLink]="['/register']"  class="btn btn-success">
            Register
          </button>
      
            <button *ngIf="!message.showReg" [routerLink]="['/']"  class="btn btn-danger">
              Try Again
            </button>
      </div>

      <!-- Modal footer -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" onClick="window.location.reload()" data-dismiss="modal">Close</button>
      </div> -->

    </div>
  </div>
</div>