<div class="error-404">
  <div class="error-code m-b-10 m-t-20">Get the answers you need <i class="fa fa-warning"></i></div>
  <h2 class="font-bold">Oops 404! That page can’t be found.</h2>

  <div class="error-desc">
      Sorry, but the page you are looking for was either not found or does not exist. .
      <div><br/>
      
          <a [routerLink]="['/surveytest']"  class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Go back to Homepage</a>
          &nbsp;
          <a  [routerLink]="['/surveytest']" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Let's Start Test</a>
      </div>
  </div>
</div>