<div class="container">
    <div class="row">
        <!-- Nav tabs -->
        <div class="card border-primary colms">
            <div class="card-header ">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#home">Your Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#menu1">Hits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2">Qualifications</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane  container" id="home">
                        <div class="container emp-profile">
                            <div class="card border-secondary mb-3" >
                                <div class="card-header">Total Earnings</div>
                                <div class="card-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr class="table-info">
                                                <th>
                                                    Rewards You Have Earned
                                                </th>
                                                <th>
                                                    Value
                                                </th>
                                            </tr>
        
                                        </thead>
                                        <tr class="table-light">
                                            <td>
                                                Approved
                                            </td>
                                            <td>
                                                120
                                            </td>
        
                                        </tr>
                                        <tr class="table-light">
                                            <td>
                                                Approved
                                            </td>
                                            <td>
                                                120
                                            </td>
        
                                        </tr>
                                        <tr class="table-light">
                                            <td>
                                                Approved
                                            </td>
                                            <td>
                                                120
                                            </td>
        
                                        </tr>
        
                                    </table>
                                </div>
                              </div> 
                              <div class="card border-secondary mb-3" >
                                <div class="card-header">Your Hit Status</div>
                                <div class="card-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr class="table-info">
                                                <th>
                                                    Date
                                                </th>
                                                <th>
                                                    Submitted
                                                </th>
                                                <th>
                                                    Approved
                                                </th>
                                                <th>
                                                    Rejected
                                                </th>
                                                <th>
                                                    Pending
                                                </th>
                                                <th>
                                                    Earnings
                                                </th>
                                            </tr>
        
                                        </thead>
                                        <tr class="table-light">
                                            <td>
                                                Approved
                                            </td>
                                            <td>
                                                120
                                            </td>
                                            <td>
                                                120
                                            </td>
                                            <td>
                                                120
                                            </td>
                                            <td>
                                                120
                                            </td>
                                            <td>
                                                120
                                            </td>
                                        </tr>
                                        <tr class="table-light">
                                            <td>
                                                Approved
                                            </td>
                                            <td>
                                                120
                                            </td>
                                            <td>
                                                120
                                            </td>
                                            <td>
                                                120
                                            </td>
                                            <td>
                                                120
                                            </td>
                                            <td>
                                                120
                                            </td>
                                        </tr>
                                        <tr class="table-light">
                                            <td>
                                                Approved
                                            </td>
                                            <td>
                                                120
                                            </td>
                                            <td>
                                                120
                                            </td>
                                            <td>
                                                120
                                            </td>
                                            <td>
                                                120
                                            </td>
                                            <td>
                                                120
                                            </td>
                                        </tr>
        
                                    </table>
                                </div>
                              </div> 
                             
                            
                        </div>
                    </div>
                    <div class="tab-pane container active" id="menu1"> you clicked Hits...</div>
                    <div class="tab-pane container" id="menu2"> you clicked Qualifications...</div>
                </div>
            </div>
        </div>


        <!-- Tab panes -->

    </div>
</div>